@inject IJSRuntime JS

<div class="code-block @(Highlight ? "border-cyan-800" : "")">
    <div class="code-block-header @(Highlight ? "bg-cyan-800/50" : "")">
        <span class="text-xs px-2 @(Highlight ? "text-cyan-400" : "text-gray-400")">● @Title</span>
    </div>
    <pre class="code-content line-numbers text-sm max-h-150 overflow-y-auto"><code class="language-csharp">@Code</code></pre>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Code { get; set; } = "";
    [Parameter] public bool Highlight { get; set; } = false;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("Prism.highlightAll");
        }
    }
}
