@inject IJSRuntime JS

<div class="code-block @(Highlight ? "border-green-800" : "")">
    <div class="code-block-header @(Highlight ? "bg-green-800/50" : "")">
        <span class="text-xs @(Highlight ? "text-green-400" : "text-gray-400")">@Title</span>
    </div>
    <div class="max-h-150 overflow-y-auto">
        <pre class="code-content line-numbers text-sm"><code class="language-csharp">@Code</code></pre>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public string Code { get; set; } = "";
    [Parameter] public bool Highlight { get; set; } = false;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("Prism.highlightAll");
        }
    }
}
